In [1]:
import numpy as np
import pandas as pd
from pytz import all_timezones

In [2]:
data_raw = pd.read_csv('crop_data.csv')

In [3]:
data_raw.head()

,INDEX,PROBE_ID,SAMPLE_DATE,LAT,LONG,HEADING,SPEED,PROBE_DATA_PROVIDER,X,Y,LOCAL_TIME
0,1,24046157,2018-06-01 00:57:59,33.808750,-118.298480,182.0,73.00000,FLEET51,379816.173355,3.741709e+06,2018-05-31 17:57:59 -0700
1,13,4644114056,2018-06-01 00:58:50,33.790882,-118.140198,348.0,0.00000,FLEET44,394445.225261,3.739554e+06,2018-05-31 17:58:50 -0700
2,18,5c3d03bf4888e7c27bb1da53f4b6b4e2,2018-06-01 00:59:22,33.811665,-118.176650,89.0,0.00000,FLEET05,391096.765695,3.741896e+06,2018-05-31 17:59:22 -0700
3,21,0C01B72E00,2018-06-01 00:59:20,33.812690,-118.139160,3.0,41.84284,FLEET41,394568.037470,3.741971e+06,2018-05-31 17:59:20 -0700
4,30,0C03CB7B00,2018-06-01 00:59:16,33.715950,-118.006730,178.0,8.04670,FLEET41,406720.503841,3.731117e+06,2018-05-31 17:59:16 -0700

In [4]:
print('unique ID count',len(data_raw.PROBE_DATA_PROVIDER.unique()))
print('unique Probe_ID count',len(data_raw.PROBE_ID.unique()))
print('raw data shape',data_raw.shape)

unique ID count 21
unique Probe_ID count 23979
raw data shape (1989370, 11)

In [10]:
test_date = data_raw.LOCAL_TIME
data_raw['LOCAL_TIME'] = pd.to_datetime(test_date)
data_raw['LOCAL_TIME'] = data_raw['LOCAL_TIME'].dt.tz_localize('Etc/UTC')
data_raw['LOCAL_TIME'] = data_raw['LOCAL_TIME'].dt.tz_convert('America/Los_Angeles')

In [8]:
data_raw.head()

,INDEX,PROBE_ID,SAMPLE_DATE,LAT,LONG,HEADING,SPEED,PROBE_DATA_PROVIDER,X,Y,LOCAL_TIME,NEW_LOCAL_TIME
0,1,24046157,2018-06-01 00:57:59,33.808750,-118.298480,182.0,73.00000,FLEET51,379816.173355,3.741709e+06,2018-05-31 17:57:59 -0700,2018-06-01 00:57:59
1,13,4644114056,2018-06-01 00:58:50,33.790882,-118.140198,348.0,0.00000,FLEET44,394445.225261,3.739554e+06,2018-05-31 17:58:50 -0700,2018-06-01 00:58:50
2,18,5c3d03bf4888e7c27bb1da53f4b6b4e2,2018-06-01 00:59:22,33.811665,-118.176650,89.0,0.00000,FLEET05,391096.765695,3.741896e+06,2018-05-31 17:59:22 -0700,2018-06-01 00:59:22
3,21,0C01B72E00,2018-06-01 00:59:20,33.812690,-118.139160,3.0,41.84284,FLEET41,394568.037470,3.741971e+06,2018-05-31 17:59:20 -0700,2018-06-01 00:59:20
4,30,0C03CB7B00,2018-06-01 00:59:16,33.715950,-118.006730,178.0,8.04670,FLEET41,406720.503841,3.731117e+06,2018-05-31 17:59:16 -0700,2018-06-01 00:59:16

In [12]:
data_raw.head()
type(data_raw.LOCAL_TIME[1])

pandas._libs.tslibs.timestamps.Timestamp